extends ../_component/layout/template.pug

block cool-config
  -
    var myTitle = 'Learn to code Html for beginners';
    var myDescription = 'HTML is easy and fun to learn!';
    var landingPage = 'HTML';
    var activeLink = '';

block awesome-content
  h1=myTitle
  p=myDescription
  h2 HTML Elements
  p An Html element usualy consists of a starting tag and end tag, with the content inserted between.
  h2 HTML Attributes
  p Attributes provide additional information about Html elements.
  h2 HTML Headings
  p Headings are important in Html documents.