doctype html
html
  head
    title LEARN TO CODE HTML CSS AND JAVASCRIPT
    meta(name="description" content="this is a Html replica of w3schools.com")
    link(rel="stylesheet" href="style.css")
  body
    header
      a.current(href="/") Home
      a(href="/html") HTML
      a(href="/CSS") CSS
      a(href="/Javascript") JavaScript

    article
      block awesome-content
    nav
      h3 HTML and CSS
      a(href="/html") Learn html
      a(href="/Css") Learn Css
      a(href="/Javascript") Learn JavaScript

    footer &copy; 2017 My name is awsome!