doctype html
html
  head
    title LEARN TO CODE HTML CSS AND JAVASCRIPT
    meta(name="description" content="this is a Html replica of w3schools.com")
    link(rel="stylesheet" href="style.css")
  body
    header
      a.current(href="/") Home
      a(href="/html") HTML
      a(href="/CSS") CSS
      a(href="/Javascript") JavaScript


    article
       h1 This is a replica of w3schools.com
       p I'll go through all possible elements as well as CSS
       h2 Html
       p The language for building web pages #[a(href="/html") Check it out!]
       h2 Css
       p The language for styling web pages #[a(href="/css") See awesomness happening]
       h2 JavaScript
       p The language for programing web pages #[a(href="/javascript") Discover the way up]

    nav
      h3 HTML and CSS
      a(href="/html") Learn html
      a(href="/Css") Learn Css
      a(href="/Javascript") Learn JavaScript

    footer &copy; 2017 My name is awsome!